# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
build/

# Environment files
.env
.env.*.local
.env.development
.env.production
.env.test
!.env.example

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Vercel / Deployment
.vercel/
netlify/

# Others
coverage/
